body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
h3 {

  font-size: 1.3rem;
  font-weight: 800;
}
h2 {

  font-size: 2rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
}
#title {
  background-color:  #ff4c68;
  color: #fff;
  text-align: left;
}
.fluid-container {
  padding: 3% 15% 7%;
}
  .img {
   width: 60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
}
/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link {
  font-family:'Montserrat-Light', sans-serif;
  font-size: 1.2rem;
}
/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}
.icon {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.feature-box {
padding: 5%;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  padding-bottom: 5%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
/* pricing */
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
}
/* media query breakpoint */
@media (max-width: 1028px) {
#title {
  text-align: center;
}
  .img {
    position: static;
    transform: rotate(0);
  }
}
/* call to action */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  color: #fff;
}
/* footer */
#footer {
  background-color: #fff;
 padding: 7% 15%;
}
.social-link {
  margin: 20px 10px;
}
